body{
    background-color: rgb(247, 247, 247);
}

.container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 700px;
    border: 0px solid blue;
    overflow: auto;
}

h1 {
    color: rgb(31, 74, 167);
}

.logo {
    width: 90px;
    height: auto;
}

.content_search_jobs_home {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 0px solid red;
    overflow: auto;
}

.search_jobs_home {
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
    height: 452px;
    float: left;
    width: 42%;
    margin-right: 10px;
    border: 0px solid black;
}

.search_jobs_img {
    position: relative;
    margin: 0 auto;
    height: auto;
    float: left;
    text-align: center;
    width: 57%;
    border: 0px solid black;
}


.home_img1{
    border-radius: 50%; 
    width: 450px; 
    height: auto;
}

.home_img2{
    border-radius: 50%; 
    width: 450px; 
    height: auto;
}



@media (max-width:700px) {
    .home_img1, .home_img2{
        width: 350px;
    }
}
@media (max-width:470px) {
    .home_img1, .home_img2{
        width: 300px;
    }
}
@media (max-width:355px) {
    .home_img1, .home_img2{
        width: 250px;
    }
}
@media (max-width:300px) {
    .home_img1, .home_img2{
        width: 200px;
    }
}



@media (max-width:1200px) {
    .search_jobs_img{
        width: 55%;
    }
}

@media (max-width:993px) {
    .search_jobs_home{
        width: 80%;
    }
    .search_jobs_img{
        width: 100%;
    }
}

.post_your_job_home{
    position: relative;
    background-color: rgb(236, 235, 230);
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 0px solid red;
    overflow: auto;
}

.post_your_job_home_h1{
    position: relative;
    margin: 0 auto;
    padding: 45px 5px;
    min-height: 200px;
    float: left;
    width: 57%;
    margin-right: 10px;
    border: 0px solid black;

}


.post_your_job_home_button{
    position: relative;
    margin: 0 auto;
    padding: 45px 0;
    height: auto;
    float: left;
    text-align: center;
    width: 42%;
    border: 0px solid black;
}


@media (max-width:1300px) {
    .post_your_job_home_h1{
        width: 45%;
    }
    .post_your_job_home_button{
        width: 35%;
    }
}

@media (max-width:994px) {
    .post_your_job_home_h1{
        width: 100%;
        float: none;
    }
    .post_your_job_home_button{
        width: 100%;
        float: none;
    }
}




.profile-detail {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 1200px;
    margin-top: 20px;
    border: 0px solid red;
}

.profile-detail-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid blue
}


.profile-main-detail {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    text-align: center;
    border: 0px solid blue
}

.profile-education {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 180px;
    border: 0px solid blue
}

.profile-experience {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border: 0px solid blue
}

.post_search_job {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid blue;
}


.search_job_job_list {
    position: relative;
    margin: 0 auto;
    width: 100%;
    margin-top: 32px;
    height: auto;
    background-image: url('../images/div_back.jpg');
    text-align: left;
    
}

.post-job {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    
    text-align: center;
}

.post-job-form{
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: auto;
    text-align: left;
    margin-bottom: 30px;
}


.job-detail-left {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
    float: left;
    border: 0px solid black;
}

.job-detail-right {
    position: relative;
    margin: 0 auto;
    width: 20%;
    height: auto;
    margin-bottom: 30px;
    float: left;
    border: 0px solid black;
}


.about_top{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid black;
    margin-top: -700px;
}

.about_bottom{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid black;
    margin-top: 690px;
}


@media (max-width:994px) {
    .about_top{
        margin-top: -550px;
    }
    .about_bottom{
        margin-top: 550px;
    }

}

@media (max-width:780px) {
    .about_top{
        margin-top: -400px;
    }
    .about_bottom{
        margin-top: 480px;
    }

}

@media (max-width:500px) {
    .about_top{
        margin-top: -290px;
    }
    .about_bottom{
        margin-top: 290px;
    }

}

@media (max-width:370px) {
    .about_top{
        margin-top: -190px;
    }
    .about_bottom{
        margin-top: 190px;
    }

}


.job_list_outer{
    position: relative;

    width: 100%;
    height: auto;
    border: 0px solid black;
    overflow: auto;
}


.job-list {
    position: relative;

    width: 48%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border: 0px solid black;
    float: left;

}

@media (max-width:1000px) {
    .job-list{
        width: 99%;
        float: none;
    }
    .about_bottom{
        margin-top: 190px;
    }

}


















.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color:  #0a597e;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}