body{
    background-color: rgb(247, 247, 247);
}

.container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 700px;
    border: 0px solid blue;
    overflow: auto;
}

h1 {
    color: rgb(31, 74, 167);
}

.logo {
    width: 90px;
    height: auto;
}

.content_search_jobs_home {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 0px solid red;
    overflow: auto;
}

.search_jobs_home {
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
    height: 452px;
    float: left;
    width: 42%;
    margin-right: 10px;
    border: 0px solid black;
}

.search_jobs_img {
    position: relative;
    margin: 0 auto;
    height: auto;
    float: left;
    text-align: center;
    width: 57%;
    border: 0px solid black;
}


@media (max-width:1200px) {
    .search_jobs_img{
        width: 55%;
    }
}

@media (max-width:993px) {
    .search_jobs_home{
        width: 80%;
    }
    .search_jobs_img{
        width: 100%;
    }
}

.profile-detail {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 1200px;
    margin-top: 20px;
    border: 0px solid red;
}

.profile-detail-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid blue
}


.profile-main-detail {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    text-align: center;
    border: 0px solid blue
}

.profile-education {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 180px;
    border: 0px solid blue
}

.profile-experience {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border: 0px solid blue
}

.post_search_job {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid blue;
}


.search_job_job_list {
    position: relative;
    margin: 0 auto;
    width: 100%;
    margin-top: 32px;
    height: auto;
    background-image: url('../images/div_back.jpg');
    text-align: left;
    
}

.post-job {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    
    text-align: center;
}

.post-job-form{
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: auto;
    text-align: left;
    margin-bottom: 30px;
}


.job-detail-left {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
    float: left;
    border: 0px solid black;
}

.job-detail-right {
    position: relative;
    margin: 0 auto;
    width: 20%;
    height: auto;
    margin-bottom: 30px;
    float: left;
    border: 0px solid black;
}


.about_top{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid black;
    margin-top: -700px;
}

.about_bottom{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid black;
    margin-top: 690px;
}


@media (max-width:994px) {
    .about_top{
        margin-top: -550px;
    }
    .about_bottom{
        margin-top: 550px;
    }

}

@media (max-width:780px) {
    .about_top{
        margin-top: -400px;
    }
    .about_bottom{
        margin-top: 480px;
    }

}

@media (max-width:500px) {
    .about_top{
        margin-top: -290px;
    }
    .about_bottom{
        margin-top: 290px;
    }

}

@media (max-width:370px) {
    .about_top{
        margin-top: -190px;
    }
    .about_bottom{
        margin-top: 190px;
    }

}


.job_list_outer{
    position: relative;

    width: 100%;
    height: auto;
    border: 0px solid black;
    overflow: auto;
}


.job-list {
    position: relative;

    width: 48%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border: 0px solid black;
    float: left;

}

@media (max-width:1000px) {
    .job-list{
        width: 99%;
        float: none;
    }
    .about_bottom{
        margin-top: 190px;
    }

}