.container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 0px solid blue;
}

h1 {
    color: rgb(31, 74, 167);
}

.logo {
    width: 90px;
    height: auto;
}

.content_search_jobs {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 410px;
    margin-top: 20px;
    border: 0px solid red;
}

.search_jobs {
    position: relative;
    margin: 0 auto;
    height: 400px;
    float: left;
    width: 42%;
    margin-right: 10px;
    border: 0px solid black;
}

.search_jobs_img {
    position: relative;
    margin: 0 auto;
    height: 400px;
    float: left;
    text-align: center;
    width: 57%;
    border: 0px solid black;
}


@media (max-width:1200px) {
    .search_jobs_img{
        width: 55%;
    }
}

@media (max-width:700px) {
    .content_search_jobs{
        height: 820px;
    }
    .search_jobs{
        width: 80%;
    }
    .search_jobs_img{
        width: 100%;
    }
}

.profile-detail {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 1200px;
    margin-top: 20px;
    border: 0px solid red;
}

.profile-detail-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px solid blue
}


.profile-main-detail {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    text-align: center;
    border: 0px solid blue
}

.profile-education {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 180px;
    border: 0px solid blue
}

.profile-experience {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border: 0px solid blue
}