{% extends '_base.html' %}

{% block title %} Applicant List {% endblock %}

{% block content %}
    <div class="applicant-list">
        <table class="table">

            <thead class="thead-dark">
                <tr>
                <!--<th scope="col">#</th>-->
                <th scope="col">Job Title</th>
                <th scope="col">Applicant Name</th>
                </tr>
            </thead>
    
    
            {% for applicant in applicant_list %}
                
                    <table class="table">
                        <tbody>
                            <tr>
                                <!--<th scope="row">{{i}}</th>-->
                                <td>{{ applicant.Job_title }}</td>

                                <form id="myForm" action="{% url 'useridFromApplicantList' %}" method="POST">
                                    {% csrf_token %}
                                    
                                    <td>
                                        <button class="btn btn-light" name="id" value="{{ applicant.Applicant_id }}">
                                        {{ applicant.Applicant.first_name }} {{ applicant.Applicant.last_name }}</button>
                                    </td>
                                </form>

                            </tr>
                        </tbody>
                    </table>
            
                {% empty %}
                    <li>No objects yet.</li>
                
            {% endfor %}    

        </table>
        
        
    </div>
{% endblock %}